#forgotPasswordForm {
  width: 100%; /* Ajusta el ancho del formulario al 100% */
  margin: 0 auto;
  text-align: center;
}

body {
  width: 300px; /* Ancho base de la extensión */
  height: 400px; /* Altura base de la extensión */
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="email"],
input[type="submit"] {
  width: 80%; /* Ajusta el ancho de los campos de entrada */
  max-width: 400px; /* Ancho máximo de 400px */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  width: auto; /* Ancho automático para el botón */
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Estilos para los mensajes de resultado */
#result {
  margin-top: 20px;
}

.error {
  color: #dc3545;
}

.success {
  color: #28a745;
}

/* Estilos para el enlace de volver a inicio */
.volver-inicio {
  margin-top: 20px;
  text-align: center;
}

.volver-inicio a {
  color: #007bff;
  text-decoration: none;
}

.volver-inicio a:hover {
  text-decoration: underline;
}
