/* Estilos para el formulario */
body {
  font-family: "Poppins", sans-serif;
  background-color: #56baed;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 400px;
}


#registerForm {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 400px;
  width: 90%;
  margin: 0 auto; /* Centrar horizontalmente */
  margin-bottom: 40px;
}

#registerForm h1 {
  font-size: 24px;
  color: #0d0d0d;
  margin-bottom: 30px;
}

#registerForm input[type="text"],
#registerForm input[type="email"],
#registerForm input[type="password"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px auto;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

#registerForm input[type="text"]:focus,
#registerForm input[type="email"]:focus,
#registerForm input[type="password"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

#registerForm input[type="submit"] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#registerForm input[type="submit"]:hover {
  background-color: #39ace7;
}

/* Estilos para el enlace Volver al inicio */
.volver-inicio {
  text-align: center;
  margin-top: 20px;
}

.volver-inicio a {
  color: #92badd;
  text-decoration: none;
}

.volver-inicio a:hover {
  color: #0d0d0d;
  text-decoration: underline;
}
